page-home {
    ion-card {
        --background: #000;
        --color: #4d30c1;
      }
      
      ion-card-title {
        --color: #c5ac0c;
      }
      
      ion-card-subtitle {
        --color: #000000;
      }

      h3.no-item {
        color: map-get($colors, 'custom');
    }
}
